* {
  margin: 0;
  padding: 0;
}

/* #my-scrollbar {
  width: 100%;
  height: 100%;
  overflow: auto;
} */

:root {
  --cursor-color: #fff;
}

html {
  transition: all 500ms ease-in;
  /* scroll-snap-type: y proximity; */

}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Product-bold';
  src: url('./assets/fonst/Product-Sans-Bold.ttf');
}

@font-face {
  font-family: 'product-regular';
  src: url('./assets/fonst/Product\ Sans\ Regular.ttf');
}

.productregular {
  font-family: 'product-regular';

}

.productBold {
  font-family: 'Product-bold';

}

.title-banner {
  font-size: 120px;
  font-family: Product-bold;
  line-height: 132px;
}

.banner-global {
  max-width: 500px;
  font-family: 'product-regular';
  font-size: 28px;
  line-height: 40px;
  padding-top: 2rem;

}

button.btn-email a {
  background: #000000;
  color: #fff;
  border-radius: 50px;
  height: 50px;
  padding: 0px 20px;
  display: block;
  line-height: 50px;
  font-family: 'product-regular';
  transition: all 500ms ease-in;
  border: 1px solid #000000;
}

.btn-email a:hover svg path {
  stroke: #000;
}

.video {
  width: 100%;
}

.lorem-ipsum {
  font-family: product-regular;
  font-size: 18px;
  padding-top: 14px;
}

.border-custom {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.btn-lets {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.btn-lets svg {
  margin-right: 10px;
  position: relative;
  top: -5px;
}

.social-list li a {
  /* display: inline-block; */
  color: rgba(0, 0, 0, 0.8);
  line-height: 35px;
  font-family: 'product-regular';
  display: inline-flex;
  align-items: center;


}

.social-list li a svg {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.8);
  height: 8px;
}

.social-list li a svg path {
  fill: rgba(0, 0, 0, 0.8);
}

label.lab-work {
  font-family: 'product-regular';
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
  cursor: pointer;
}

.input-title {
  background: transparent;
  width: 100%;
  height: 60px;
  padding-left: 4px;
  margin-bottom: 1.5rem;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  font-family: 'product-regular';
}

.input-textarea {
  background: transparent;
  width: 100%;
  height: 160px;
  padding-top: 10px;
  padding-left: 4px;
  margin-bottom: 1.5rem;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  font-family: 'product-regular';
}

.btn-submit {
  background: rgba(0, 0, 0, 1);
  height: 70px;
  border-radius: 20px;
  color: #fff;
  font-family: 'product-regular';
  padding: 0 2.3rem;


}

.btn-behance {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-right: 20px;
  font-family: 'product-regular';
  transition: all 500ms ease-in;

}

.btn-behance svg {
  height: 12px;
  margin-left: 12px;
}

.btn-email {
  position: fixed;
  right: 70px;
  bottom: 80px;
  z-index: 999999;

}

.btn-email label {
  cursor: pointer;
}


@media(max-width: 767px) {
  .title-banner {
    font-size: 40px;
    line-height: 60px;
  }

  .container {
    padding: 0 1rem;
  }

  .btn-email {
    position: fixed;
    right: 12px;
    bottom: 50px;

  }
}

button.btn-email a:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #000000;
}

.scroller {
  height: 600px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
  height: 600px;

}

.newsletter input {
  background: rgba(243, 243, 243, 1);
  height: 50px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.newsletter button {
  background: rgba(0, 0, 0, 1);
  height: 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #fff;
  font-family: product-regular;
  padding-left: 20px;
  padding-right: 20px;

}

.list-section {
  /* display: inline-flex;
  align-items: center; */
  font-size: 1.1rem;
  font-family: product-regular;
  color: #000;
  /* margin-right: 20px; */

}

.btnstart {
  background: rgba(0, 0, 0, 1);
  color: #fff;
  height: 46px;
  padding-left: 12px;
  padding-right: 12px;

}

.btnstart a {
  color: #fff;

}

.sectiom-onetwo {
  position: sticky;
  top: 0;
  height: 500px;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll;
  height: 100vh; */
}

.sectiom-onetwo section {
  /* height: 30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
}


.brand-identity-design {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  padding-left: 10%;
  /* position: relative;
  left: -130px; */
}

ul.list-cofee {
  /* text-align: center; */
  font-family: 'product-regular';
  padding: 0;
  margin: 0;
}

ul.list-cofee li {
  display: inline-block;
  width: 140px;
  text-align: center;

}

ul.list-cofee li img {
  height: 100px;
}

ul.list-cofee label {
  margin-right: 39px;
  margin-bottom: 10px;
  display: block;
}

.footer-bg {
  height: 100vh;
  background-color: #000000;
  color: #fff;
}

.social-list-1 li a {
  font-family: 'product-regular';
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 40px;
  /* display: block; */
  /* line-height: 40px; */
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 20px;
  transition: all 500ms ease;
  /* max-width: 150px; */
}

.social-list-1 li a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;

}

.email-type {
  height: 50px;
  width: 100%;
  /* padding-left: 20px; */
  font-family: 'Product-bold';
  max-width: 500px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-top: 1rem;
  position: relative;
}

.email-type:focus {
  outline: none;
  /* border: none; */
}

.list-soci-sec li a {
  font-family: 'product-regular';
  line-height: 22px;
  transition: all 500ms ease;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 10px;

}

.list-soci-sec li a:hover {
  border-bottom: 1px solid #fff;
}

.btn-behance:hover {
  background-color: #000;
  color: #fff;
}

.btn-behance:hover svg path {
  stroke: #fff;
}

.value-bg {
  border-bottom: 2px solid #fff;
  width: 340px;
  padding-bottom: 8px;
}

.bg-grayes {
  background: rgba(243, 243, 243, 1);
  padding: 20px;
  padding: 20px 40px;
}

#mc_embed_signup form {
  padding: 0;
  margin: 0 !important;
}

#mc_embed_signup .mc-field-group input {
  padding-left: 0;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0 I !important;
}

.header-blurry {
  background: hsla(0, 0%, 100%, .85);
  border-radius: 0;
  /* background-color: transparent; */
  backdrop-filter: blur(19.7px);
  -webkit-backdrop-filter: blur(8.7px);
  z-index: 99999999999999999999999999999999999999999999999999999999999999;
}

.app {

  display: flex;
  flex-direction: column;

}

/* .scrollbar-track {
  background-color: transparent !important;
}

.scrollbar-track-y {
  width: 12px !important;
}


.scrollbar-thumb {
  width: 12px !important;
  background-color: black !important;
  border-radius: 0 !important;
} */

.pl-custom {
  padding-left: 10%;
}


/*  */

.projects-catalog {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
}

.project-card__filter {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5));
  bottom: 0;
  height: 40%;
  left: 0;
  position: absolute;
  width: 100%;
}

.project-card__info {
  bottom: 6.15vw;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.project-card__info {
  bottom: 3.1vw;
}

.project-card__info-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-card__info-main {
  align-items: flex-end;
  margin-bottom: 0.95vw;
}

.project-label-pill {
  padding: 0.48vw 1.9vw;
}

.project-label-pill {
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, .5);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  padding: 2.05vw 4.1vw;
}

.project-card__info-footer {
  align-items: flex-end;
  display: flex;
}

.project-card__desc {
  max-width: 23.21vw;
}

.project-card__categories {
  column-gap: 0.95vw;
  flex-wrap: wrap;
  row-gap: 0.95vw;
}

.project-card__categories {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}

.project-label-pill {
  padding: 0.48vw 1.9vw;
}

.project-label-pill {
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, .5);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  padding: 1vw 3.1vw;
}

.bg-image-blue {
  background-image: url('./assets/images/gradient-image.jpg');
  background-position: center;
}

button.btn-linkdein {
  border: 1px solid rgba(0, 119, 181, 1);
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0px 15px;
  font-family: 'product-regular';
  color: rgba(0, 119, 181, 1);
}

button.btn-linkdein img {
  margin-right: 10px;
}

.btn-color {
  color: #000 !important;
  border-color: #000 !important;
}

.project-card_hover .project-card__img {
  transition: transform 1.24s cubic-bezier(.19, 1, .22, 1)
}

.project-card_hover:hover .project-card__img {
  transform: scale(1.034) !important
}

.list_under li {
  line-height: 36px;
  font-size: 1.3rem;
}